configuration: Release

before_build:
- cd specs
- echo dir

branches:
  only:
    - master

build:
  verbosity: minimal
  project: LogoFX.Cli.Dotnet.Specs.sln

image: Visual Studio 2019
  
notifications:
- provider: Email
  to:
  - gennady.verdel@gmail.com
  - david@logoui.co.il
  - dmitry.bublik@logoui.co.il
  on_build_success: false
  on_build_failure: false
  on_build_status_changed: true